doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
    link(rel="stylesheet" href="/css/style.css")
    title Space Tour | #{title}
  body
    .wrapper
      nav.nav
        .nav-logo
          p SPACE TOUR
        .nav-menu#navMenu
          ul
            li
              a.link.active(href="#") Home
            li
              a.link(href="#") Blog
            li
              a.link(href="#") Services
            li
              a.link(href="#") About
        if user 
          .user
            img.user-img(src=`/img/users/${user.photo}`, alt="")
            p.user-name #{user.name}
        else
          .nav-button
            a.form-link.btn.white-btn#loginBtn(href="/login") Log In
            a.form-link.btn#registerBtn(href="/signup") Sign Up
          .nav-menu-btn
            i.bx.bx-menu(onclick="myMenuFunction()")
      block main

      
        
        
  //- script(src="/js/script.js")
